.answer-list {
  grid-area: answer-list;
  list-style: none;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.29);
  text-align: center;
  border-radius: 3px;

  &__item {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(#000, 0.25);
    cursor: pointer;

    &_success {
      color: #2ecc71;
    }

    &_error {
      color: #e74c3c;
    }
  }
}
